
/***************************Layout ***************************/

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2.5rem;
    overflow: auto;

}

.card{
    background:#FFF;
    color:#333;
    border-radius: 0.625rem;
    box-shadow: 0 0.188rem 0.625rem rgba(0, 0, 0, 0.2);
    padding:1.25rem;
    margin: 0.625rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.grid{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:1.25rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns:repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns:repeat(4, 1fr);
}

/************************** Style-partials **************************/

.btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    cursor: pointer;
    background: var(--primary-background-color);
    color:#FFF;
    border:none;
    border-radius: 0.313rem;
}

.btn-outline{
    background: transparent;
    border: 0.063rem solid #FFF;
}

.btn:hover{
    transform: scale(0.98);
}



/*************************** Backgrounds & colored buttons ***************************/
.bg-primary, .btn-primary{
    background: var(--primary-background-color);
    color:#FFF;
}

.bg-secondary, .btn-secondary{
    background: var(--secondary-background-color);
    color:#FFF;
}

.bg-dark, .btn-dark{
    background: var(--dark-background-color);
    color:#FFF;
}

.bg-light, .btn-light{
    background: var(--light-background-color);
    color:#333;
}

.bg-primary a, .btn-primary a,
 .bg-secondary a, .btn-secondary a,
 .bg-dark a, .btn-dark a{
     color:#FFF;
 }



/*************************** Typography ***************************/


 /* Text colors */

 .text-primary{
    color: var(--primary-background-color);

}

.text-secondary{
    color: var(--secondary-background-color);

}

.text-dark{
    color: var(--dark-background-color);
    
}

.text-light{
    color: var(--light-background-color);
}

 /* Alert */

.alert {
    background: var(--light-background-color);
    padding:0.625rem  1.25rem;
    font-weight: bold;
    margin:0.938rem 0;
}

.alert-success{
    background: var(--success-color);
    color:#FFF;
}

.alert-error{
    background: var(--error-color);
    color:#FFF; 
}

.alert i{
    margin-right: 0.625rem;
}



.text-center {
    text-align: center;
}

.lead{
    font-size: 1.25rem;
}

.sm{
    font-size: 1rem;
}

.md{
    font-size: 2rem;
}

.lg{
    font-size: 3rem;
}

.xl{
    font-size: 4rem;
}


/*************************** Margin ***************************/
.my-1{
    margin: 1rem 0;
}

.my-2{
    margin: 1.5rem 0;
}

.my-3{
    margin: 2rem 0;
}
.my-4{
    margin: 3rem 0;
}

.my-5{
    margin:4rem 0;
}

.m-1{
    margin: 1rem;
}

.m-2{
    margin: 1.5rem;
}

.m-3{
    margin: 2rem ;
}
.m-4{
    margin: 3rem;
}

.m-5{
    margin:4rem;
}


/*************************** padding ***************************/
.py-1{
    padding: 1rem 0;
}

.py-2{
    padding: 1.5rem 0;
}

.py-3{
    padding: 2rem 0;
}
.py-4{
    padding: 3rem 0;
}

.py-5{
    padding:4rem 0;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 1.5rem;
}

.p-3{
    padding: 2rem ;
}
.p-4{
    padding: 3rem;
}

.p-5{
    padding:4rem;
}